<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://designstem.github.io/fachwerk/fachwerk.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Plastics</title>
	<link rel="stylesheet" href="css/style.css">	
  <script type="text/javascript" src="js/loader.js"></script>
    
  <style>
    img {
	    width: 150px;
	    display: inline;
    }
  </style>

<!--<script src="https://designstem.github.io/framework/vendor.js"></script>-->
<script src="https://unpkg.com/vue@2.5"></script>
  
  <div id="app">
    <header>
      <div>
        <a href="https://designstem.github.io/homepage">Home</a>
        <a href="https://designstem.github.io/homepage/equilibrium">Lighter than Air / Equilibrium</a>
      </div>
    </header>
  </div>
</head>
  <div id="app">
    
    <div style="display: flex">
      <div style="text-align:left;width: 24rem; padding: 2rem; border-right: var(--border-width) solid var(--primary)">
        <h1 style="font-size: 3rem; line-height: 3rem;">Plastics</h1>
        <p style="font-size: 30px">TYPE</p>
        
        <script src="./index.js" type="module"></script>
        <div id="app1">
        
        </div>
        
        <!--RadioButton-->
          

        
        <div id='example-3'>       
          <input type="radio" name="plastic" id="pet" value="PET" v-model="picked">
          <label for="pet">PET (polyethylene terephthalate)</label>          
          <input type="radio" name="plastic" id="ldpe" value="LDPE" v-model="picked">
          <label for="ldpe">LDPE (low-density polyethylene)</label>
          <input type="radio" name="plastic" id="pp" value="PP" v-model="picked">
          <label for="pp">PP (polypropylene)</label>          
          <br>
          <div style="color:red">Plastic Choice: {{ picked }}</div>
          <br><br>
          <div v-if="picked === 'PET'">        
            Density: 1.34-1.38 g/cm3 
            <br>(sinks in fresh water and salt water)<br><br>
            <div style="text-align: center"><img src="img/simbolo_pet.jpg" width="60px" height="90px"></div>
          </div>
          <div v-else-if="picked === 'LDPE'">
            Density: 0.926-0-940 g/cm3 
            <br>(floats in fresh water and salt water)<br><br>
            <div style="text-align: center"><img src="img/simbolo_ldpe.png" width="60px" height="90px"></div>
          </div>
          <div v-else-if="picked === 'PP'">
            Density: 0.90-0.91 g/cm3 
            <br>(floats in fresh water and salt water)<br><br>
            <div style="text-align: center"><img src="img/simbolo_pp.png" width="60px" height="90px"></div>
          </div>         
          <div v-else>
            
          </div>
        </div>
        <!---*********************--><br><br><br><br><br>
        <div style="text-align: center"><button type="click" onclick="startGame()">AVVIA</button></div>
        <br><br><br>
      </div>

      <div style="width:80%">	
        <!--<div id="chart_div">
            <div id="chart_div1" style="width: 120px; height: 120px;float:left;"></div>
            <div id="chart_div2" style="width: 120px; height: 120px;float:left"></div>
            <div id="chart_div3" style="width: 120px; height: 120px;float:left"></div>
            
            <input class="button_primary" type="button" value="+CO2" onclick="aumentaco2()">
            <input class="button_primary" type="button" value="-CO2" onclick="decrementaco2()">
        </div>
        -->
        <br style="clear:both">
        <!--<input type="button" value="vai()" onclick="vai();">-->
        <div style="text-align:center;width:480px;margin:auto;margin-top:250px">
          <div id="message">Select the type of plastic</div>
          <div id="sea"><script src="js/script.js"></script>
            
          
          </div>
          <!--
          <button class="button_tertiary" onmousedown="moveup()" onmouseup="clearmove()" ontouchstart="moveup()">UP</button><br><br>
          <button class="button_tertiary" onmousedown="moveleft()" onmouseup="clearmove()" ontouchstart="moveleft()">LEFT</button>
          <button class="button_tertiary" onmousedown="moveright()" onmouseup="clearmove()" ontouchstart="moveright()">RIGHT</button><br><br>
          <button class="button_tertiary" onmousedown="movedown()" onmouseup="clearmove()" ontouchstart="movedown()">DOWN</button>
          -->
        </div>
        
      </div>
    </div>
  </div>
</body>
