* {
  box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 2em;
    color: rgba(0,0,0,0.8);
}

input {
    display: block;
    margin: 1em 0;
    padding: 0.25em;
}

input[type=range] {
    padding: 0;
    margin: 2em 0;
    width: 70%;
}

input[type="range"] {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.5);
  height: 1px;
  position: relative;
  outline: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 25px;
  width: 25px;
  border-radius: 100px;
  background: white;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shuttering {
  0% {
    opacity: 1;
  }
  49.99% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}