<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://designstem.github.io/fachwerk/fachwerk.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <script src="./control.js" type="module"></script>
<div id="app" v-bind:style="{ backgroundColor: color}">
<h1>Try a color</h1>
  <div class="color">
<input type="text" v-bind:style="{ color: color}" v-model="color" maxlength="7" placeholder="#000000"/>
  <input type="color" v-model="color"/>
    </div>
</div>
</body>
