body
{
	background-color : #FF0000;
}


@import url('https://fonts.googleapis.com/css?family=Proza+Libre|Fira+Mono');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;

   height: 100vh;
    overflow: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    padding: 1rem 1rem;
    font-size: 2rem;
    border: 0;
    border-radius: 3px;
    background: #fff;
  }
  
}

h1 {
  font-family: 'Proza Libre', sans-serif;
  color: #fff;
  font-weight: 300;
}

input[type="color"]{
  width:40px;
  border:1px solid black;
  margin:0px;
  padding:0px !important;
  height:40px;
}
