* {
  box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 2em;
    color: rgba(0,0,0,0.8);
}

input {
    display: block;
    margin: 1em 0;
    padding: 0.25em;
}

input[type=range] {
    padding: 0;
    margin: 2em 0;
    width: 200px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.5);
  height: 1px;
  position: relative;
  outline: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 25px;
  width: 25px;
  border-radius: 100px;
  background: white;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}

input[type="range"]:disabled {
  opacity:0.3;
}

#app {
  width: 50vw;
  height: 80vh;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1em;
  width: 200px;
}

button{
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 0.5rem 0.85rem;
  border: none;
  box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.45);
}